# How to use
# site:new --directory=/path/to/drupal-project/
# site:new --repository=acquia/lightning-project --directory=/path/to/drupal-project/
command:
  name: site:new
  description: 'Download a new Drupal project'
vars:
  repository:
    - drupal-composer/drupal-project:8.x-dev
    - acquia/lightning-project
    - acquia/reservoir-project
commands:
  # Create Drupal project using Composer
  - command: exec
    arguments:
      bin: composer create-project {{repository}} {{directory}} --prefer-dist --no-progress --no-interaction
